pandas
numpy
h5py
keras
matplotlib
numpy
pandas
regex
huggingface-hub
scikit-image
scikit-learn
scipy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-addons
tensorflow-datasets
tensorflow-estimator
tensorflow-hub
tensorflow-macos
tensorflow-metadata
tokenizers
Pillow
streamlit

